<div id="page_wrapper">
  <div id="profile_image">
    <%= image_tag "profile.jpeg" %>
  </div>
  <div id="content">
    <h1>Hello it's me!</h1>
    <p>Venmo williamsburg squid offal chicharrones, kogi freegan four loko meh gluten-free tilde. Selfies fashion axe farm-to-table, gentrify try-hard chia hella tofu messenger bag kinfolk organic quinoa VHS. Small batch forage humblebrag, blog chartreuse tousled mustache four dollar toast bushwick iPhone mixtape celiac blue bottle affogato mlkshk. IPhone swag migas narwhal, messenger bag yuccie small batch banjo. Ethical meh salvia aesthetic umami synth next level, ramps before they sold out. Aesthetic authentic cronut, jean shorts pork belly iPhone chicharrones stumptown brooklyn marfa organic pour-over. Polaroid scenester viral, kitsch occupy messenger bag mixtape kickstarter brooklyn meggings jean shorts cronut shoreditch pop-up.
      
    Banjo gluten-free tofu banh mi, mlkshk tacos mixtape. Distillery meh chambray, flannel marfa organic lumbersexual master cleanse art party viral photo booth lo-fi hammock. Franzen artisan gochujang, mlkshk ramps man braid gastropub +1 tumblr. Kombucha pork belly raw denim fap, intelligentsia pickled skateboard man bun. Dreamcatcher etsy street art, schlitz blog stumptown meh chia mustache narwhal letterpress chicharrones irony. Chartreuse church-key mumblecore retro master cleanse lo-fi. PBR&B keytar kogi, tilde deep v flexitarian 8-bit mlkshk sriracha bitters quinoa.</p>
  </div>
</div>