.jumbotron
  .col-md-offset-1
    %h2 Don task. 
    %br/
    %h4 Minimalist and free task management web site
    %p Beard swag man bun, lomo dreamcatcher kickstarter scenester 90's mustache craft beer. Meggings pickled umami, authentic lo-fi stumptown ramps. Cronut venmo flexitarian, bushwick migas schlitz +1 hammock pickled truffaut pork belly. Selfies cronut ethical yr, offal helvetica gentrify tattooed pork belly. Tilde cardigan kickstarter scenester. Man braid craft beer single-origin coffee slow-carb, asymmetrical green juice master cleanse street art pour-over locavore brunch farm-to-table selfies salvia pabst. Pabst portland williamsburg, bespoke wayfarers ennui brooklyn mumblecore ramps schlitz cronut hammock.

    %p.center Interested? 
    = link_to "Sign up now!", new_user_registration_path, class: 'btn btn-danger'