#banner
  .banner_content
    %h1 File cabinet
    %p Ruby on rails training part one
    %button= link_to "Enter", new_user_registration_path

#callouts
  .callout_inner
    .wrapper
      .callout
        %h2 Organize
        %p Tofu artisan organic synth photo booth, viral vegan. Tilde tumblr offal +1 ugh iPhone, deep v artisan chillwave wolf. Before they sold out bushwick echo park meggings authentic craft beer street art food truck, forage cred kale chips messenger bag pinterest. Gentrify kogi fanny pack lomo four loko. Church-key paleo fanny pack swag microdosing. Single-origin coffee normcore actually williamsburg, synth seitan banh mi next level hoodie. Kinfolk occupy vegan man bun echo park, asymmetrical whatever intelligentsia everyday carry jean shorts shoreditch tofu hoodie yr vinyl.

#bottom_cta
  .wrapper
    %h2 Go ahead
    %br
    %button= link_to "Join now", new_user_registration_path            